modules = ["nodejs-20", "postgresql-16"]
[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "YAFS Mini-App"

[[workflows.workflow]]
name = "YAFS Mini-App"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 34269
externalPort = 3001

[[ports]]
localPort = 35251
externalPort = 3000

[[ports]]
localPort = 37233
externalPort = 3003

[[ports]]
localPort = 37987
externalPort = 4200

[[ports]]
localPort = 39709
externalPort = 5000

[[ports]]
localPort = 39849
externalPort = 5173

[[ports]]
localPort = 41607
externalPort = 3002

[nix]
channel = "stable-25_05"

[userenv]

[userenv.development]
SUPABASE_URL = "https://lbwzwfoyoazrvrgvcdmt.supabase.co"
SUPABASE_SERVICE_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxid3p3Zm95b2F6cnZyZ3ZjZG10Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NDE2NTE0MiwiZXhwIjoyMDc5NzQxMTQyfQ.4GxMZCwLmgkrrhKd0s-lhQmdtP1eW9DFg2ByfWXWRQw"
TELEGRAM_BOT_TOKEN = "8415986645:AAHVC1xqZZ9APlYuKo8abqUvOQiJgGfJTXw"
